configuration {
    kb-accept-entry: "Control+Shift+space,Return";
    
    kb-mode-complete: "";
    kb-remove-char-back: "BackSpace,Shift+BackSpace";
    kb-remove-to-eol: "";

    kb-row-right: "Control+l";
    kb-row-left: "Control+h";
    kb-row-down: "Down,Control+n,Control+j";
    kb-row-up: "Control+p,Control+k,Up";
}
