[submodule "home/.config/awesome/net_widgets"]
	path = home/.config/awesome/net_widgets
	url = https://github.com/pltanton/net_widgets.git
[submodule "home/.config/awesome/awesome-wm-widgets"]
	path = home/.config/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
[submodule "home/.config/nvim"]
	path = home/.config/nvim
	url = git@github.com:GravityShark0/nvim-kick.git
[submodule "home/.password-store"]
	path = home/.password-store
	url = gravity@clr:Git/pass.git
[submodule "home/.ssh"]
	path = home/.ssh
	url = gravity@clr:Git/ssh.git
[submodule "home/.gnupg"]
	path = home/.gnupg
	url = gravity@clr:Git/gnupg.git
[submodule "home/.tmux/tmux-fingers"]
	path = home/.tmux/tmux-fingers
	url = https://github.com/Morantron/tmux-fingers
[submodule "home/.doom.d/modules/editor/meow"]
	path = home/.doom.d/modules/editor/meow
	url = https://github.com/Not-Leader/doom-meow
