[submodule "home/.config/awesome/net_widgets"]
	path = home/.config/awesome/net_widgets
	url = https://github.com/pltanton/net_widgets.git
[submodule "home/.config/awesome/bling"]
	path = home/.config/awesome/bling
	url = https://github.com/BlingCorp/bling.git
[submodule "home/.config/awesome/awesome-wm-widgets"]
	path = home/.config/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
[submodule "home/.config/nvim"]
	path = home/.config/nvim
	url = https://github.com/GravityShark0/nvim-kick.git
[submodule "home/.tmux/plugins/tpm"]
	path = home/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "home/.config/yazi/plugins/relative-motions.yazi"]
	path = home/.config/yazi/plugins/relative-motions.yazi
	url = https://github.com/dedukun/relative-motions.yazi.git
