git remote set-url --add --push origin git@github.com:GravityShark0/pumpndump.git
git remote set-url --add --push origin gravity@clr:Git/pumpndump.git
git update-index --skip-worktree home/.config/fish/fish_variables
git update-index --skip-worktree home/.gnupg
