#!/bin/sh

# background="~/Media/Wallpapers/minimalistic/minimalistic/unicat.png"
# background="~/Pictures/Wallpapers/purp1.jpg"
random=$(fish --command "random 0 310")
if [ "$random" -ge 100 ]; then prezero='0'; else prezero='00'; fi
background="$HOME/Media/Wallpapers/dt/${prezero}${random}.jpg"

# echo $prezero $random
# echo "balls ${random} ${background}"

# dash ~/.bin/clockskewcheck &
feh --bg-scale $background &
# nitrogen --restore &
# xmodmap ~/.keymaps/tarmak_2b_dh.xmodmap &
$(xrdb ~/.config/suckless/catppuccin/mocha && kill -USR1 $(pidof st)) &
# pkill volumeicon; volumeicon &
# pkill picom; picom &
