#!/bin/sh
# This script runs everytime awesomewm starts and reloads

~/.scripts/monitor/auto.sh

#background="~/Media/Wallpapers/minimalistic/minimalistic/unicat.png"
#background="~/Pictures/Wallpapers/purp1.jpg"

random=$(fish --command "random 1 321")
background="$HOME/Media/Pictures/Wallpapers/main/$random"
echo $random >> .recent_wallpapers.txt
feh --bg-scale $background.* &

# Replace picom if its open
if pidof picom; then
        pkill picom
fi
picom --animations -b

# Using pipewire x pulseaudio for sound
#nohup gentoo-pipewire-launcher restart > /dev/null &
# To be able to type in chinese
#ibus-daemon -d -r
# For flatpaks to have integration usually dont need to enable
# /usr/libexec/xdg-desktop-portal-gtk -r &
# /usr/libexec/flatpak-portal -r &
# sh -c 'sleep 5;exec /usr/libexec/xdg-desktop-portal -r' &
#
settheme catppuccin/mocha &
